<div *ngIf="viewType==='LIST'">
  <clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact">

    <clr-dg-action-bar *ngIf="tableAction==='LIST'">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-secondary" (click)="create()">
          <cds-icon shape="plus"></cds-icon> Crear
        </button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="edit()" *ngIf="selected.length == 1">
          <cds-icon shape="pencil"></cds-icon> Editar
        </button>
      </div>
      <div class="btn-group">
        <clr-dropdown>
          <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
            Exportar
            <cds-icon shape="caret down"></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            <button type="button" (click)="onExportAll()" clrDropdownItem>Exportar todos</button>
            <button type="button" (click)="onExportSelected()" [disabled]="selected.length === 0" clrDropdownItem>
              Export seleccionados
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </clr-dg-action-bar>

    <clr-dg-column>empleado ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'employee_name'">Nombre</clr-dg-column>
    <clr-dg-column [clrDgField]="'employee_salary'">Salario</clr-dg-column>
    <clr-dg-column [clrDgField]="'employee_age'">Edad</clr-dg-column>

    <clr-dg-row *clrDgItems="let empleado of empleados" [clrDgItem]="empleado">
      <clr-dg-cell>{{empleado.id}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.employee_name}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.employee_salary | currency}}</clr-dg-cell>
      <clr-dg-cell>{{empleado.employee_age}}</clr-dg-cell>
    </clr-dg-row>

    <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event)">
      <app-detalle-empleado [empleado]='detail'></app-detalle-empleado>
    </ng-template>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Empleados por pagina</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} empleados
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>

</div>

<div *ngIf="viewType==='CREATE' || viewType==='EDIT'">
  <app-edicion-empleado [empleado]='editE' (view)='getView($event)'></app-edicion-empleado>
</div>

<div *ngIf="viewType==='PDF'">
  <app-empleado-pdf [empleados]='selected' (view)='getView($event)'></app-empleado-pdf>
</div>

