<clr-dg-detail style="width: 100%;">
  <clr-dg-detail-body>
    <div class="card">
      <div class="card-header">
        <header class="header-6">
          <div class="branding">
            <img [src]="empleado.profile_image" class="card-media-image" [alt]="" />
            <a href="javascript://" class="nav-link">
              <span class="title"> {{empleado.employee_name}}</span>
            </a>
          </div>
        </header>
      </div>
      <div class="card-block">
        <div class="card-media-block wrap">
          <div class="card-media-description">
            <a href="javascript://" class="label label-blue clickable">Salario: <span
                class="badge">{{empleado.employee_salary | currency}}</span></a>
            <a href="javascript://" class="label label-blue clickable">Edad: <span
                class="badge">{{empleado.employee_age}}</span></a>
          </div>
        </div>
        <div class="card-text">
          Caracteristica: Enfocado
        </div>
      </div>
    </div>
  </clr-dg-detail-body>
</clr-dg-detail>
