<app-spinner></app-spinner>
<div class="main-container">
  <header class="header header-4">
    Administracion de empleados
  </header>
  <div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./pincipal" routerLinkActive="active">
        Principal
      </a>
      <a clrVerticalNavLink routerLink="./organizacion" routerLinkActive="active">Organizacion</a>
      <a clrVerticalNavLink routerLink="./alta" routerLinkActive="active">Alta</a>
      <a clrVerticalNavLink routerLink="./comunicado" routerLinkActive="active">Comunicados</a>
      <a clrVerticalNavLink routerLink="./info" routerLinkActive="active">Informes</a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="./creditos" routerLinkActive="active">Creditos</a>
    </clr-vertical-nav>
    <div class="content-area">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
