:host ::ng-deep .custom-spinner circle{
  stroke: #6da5e6 !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(247, 242, 242, 0.286);
  z-index:    100000;
  top:        0;
  left:       0;
  position:   fixed;
}
