<div class="container">
  <div class="row">
    <div id="htmlData">
      <h2>Lista de empleados</h2>
      <app-lista-empleado [empleados] = 'empleados' [tableAction]="'PDF'"></app-lista-empleado>
    </div>
  </div>
</div>
<div>
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>
