<form [formGroup]="form" clrForm class="clr-form clr-form-vertical">
  <clr-input-container>
    <label for="example5" class="clr-control-label">Nombre:
      <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
        <cds-icon shape="info-circle" size="md"></cds-icon>
        <span class="tooltip-content">Nombre del empleado</span>
      </a>
    </label>
    <input clrInput type="text" placeholder="Nombre" formControlName="name" id="name">
    <clr-control-error *ngIf="hasError('name', 'required')">Solo se permiten caracteres</clr-control-error>
    <clr-control-error *ngIf="hasError('name', 'pattern')">Solo se permiten caracteres</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label for="example5" class="clr-control-label">Salario:
      <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
        <cds-icon shape="info-circle" size="md"></cds-icon>
        <span class="tooltip-content">Salario del empleado</span>
      </a>
    </label>
    <input clrInput type="text" placeholder="Salario" formControlName="salary" id="salary">
    <clr-control-error *ngIf="hasError('salary', 'required')">El salario es requerido</clr-control-error>
    <clr-control-error *ngIf="hasError('salary', 'pattern')">Solo se permiten numeros</clr-control-error>
  </clr-input-container>


  <clr-input-container>

    <label for="example5" class="clr-control-label">Edad:
      <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
        <cds-icon shape="info-circle" size="md"></cds-icon>
        <span class="tooltip-content">Edad del empleado</span>
      </a>

    </label>
    <input clrInput type="text" placeholder="Edad" formControlName="age" id="age">

    <clr-control-error *ngIf="hasError('age', 'required')">La edad es requerida</clr-control-error>
    <clr-control-error *ngIf="hasError('age', 'pattern')">Solo se permiten numeros</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label for="example5" class="clr-control-label">Imagen:
      <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
        <cds-icon shape="info-circle" size="md"></cds-icon>
        <span class="tooltip-content">Imagen de perfil del empleado</span>
      </a>
    </label>
  </clr-input-container>
  <input type="file" accept="image/*" (change)="showPreview($event)" id="image" />

  <div class="imagePreview">
    <img [src]="image | async" [alt]="">
    <clr-control-error *ngIf="hasError('image', 'pattern')">Solo se permiten archivos con extension .jpeg, .jpg, .png
    </clr-control-error>
  </div>


  <button type="button" class="btn btn-sm btn-secondary" (click)="confirm()" [disabled]='form.invalid'>
    Confirmar
  </button>
  <button type="button" class="btn btn-sm btn btn-danger" (click)="cancel()">
    Cancelar
  </button>
</form>
