<clr-alert [clrAlertType]="alertConfiguration.type" #alert *ngIf="show">
  <clr-alert-item>
    <span class="alert-text">
      {{alertConfiguration.message}}
    </span>
  </clr-alert-item>
</clr-alert>
